<!DOCTYPE html>
<html lang="en">

<head>
    <title>상품등록</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        window.onload = function () {
            function readImage(input) {
                // 인풋 태그에 파일이 있는 경우
                if (input.files && input.files[0]) {
                    // 이미지 파일인지 검사 (생략)
                    // FileReader 인스턴스 생성
                    const reader = new FileReader()
                    // 이미지가 로드가 된 경우
                    reader.onload = e => {
                        const previewImage = document.getElementById("preview-image")
                        previewImage.src = e.target.result
                    }
                    // reader가 이미지 읽도록 하기
                    reader.readAsDataURL(input.files[0])
                }
            }
            // input file에 change 이벤트 부여
            const inputImage = document.getElementById("image")
            inputImage.addEventListener("change", e => {
                readImage(e.target)
            })
        }
    </script>
</head>

<body>

    <div class="container">
        <h2>상품입력</h2>
        <p>.</p>
        <form action="/insert" method="POST"  enctype="multipart/form-data">
            <div class="form-group">
                <label for="image">상품 이미지</label>
                <div class="image-container">
                    <img style="width: 500px;" id="preview-image"
                        src="https://dummyimage.com/500x500/ffffff/000000.png&text=preview+image">
                    <input style="display: block;" type="file" id="image" name="image">
                </div>
            </div>
            <div class="form-group">
                <label for="name">상품이름:</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="num">분류:</label>
                <select class="form-control" id="type" name="type">
                    <option value="의류">의류</option>
                    <option value="가정기기">가정기기</option>
                    <option value="전자제품">전자제품</option>
                </select>
            </div>
            <div class="form-group">
                <label for="section">가격:</label>
                <input type="text" class="form-control" id="price" name="price">
            </div>
            <button type="submit" class="btn btn-success">삽입하기</button>
        </form>
    </div>

</body>

</html>