<!DOCTYPE html>
<html>
<head>
  <title>로그인</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
  <script src="js/login.js" defer></script> 
</head>
<body>
  <div class="login-form">
    <form>
      <input id="id" type="text" class="text-field" placeholder="아이디">
      <input id="psword" type="password" class="text-field" placeholder="비밀번호">
      <input id="button" type="button" value="로그인" class="submit-btn">
    </form>
      <a href="join"><img src="https://drgroot.cafe24.com/home/social/kakao_login.jpg"style="height: 45px;width: auto;"></a>
    <div class="links">
      <a href="#">비밀번호를 잊어버리셨나요?</a>
    </div>
  </div>
</body>
</html>